<div class="school px-4 py-4 md:px-8 md:py-4">
    <p class="font-bold text-[20px] md:text-[28px] lg:text-[32px]">Schools</p>

    <div class="flex">
        <div class="w-full md:w-[288px] h-auto md:h-screen bg-white mt-4 rounded-lg shadow-md">
            <div class="flex justify-center items-center px-4 py-2">
                <button
                    class="text-[14px] font-bold text-white bg-[#4880FF] w-full md:w-[238px] h-[43px] rounded-lg mt-4 cursor-pointer"
                    (click)="handleAddSchool()">Add New School</button>
            </div>
        </div>
        <div class="w-full md:w-[calc(100%-288px)] h-auto md:h-screen mt-4  ml-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="col-span-1 bg-gray-100 p-4 rounded-lg">

                </div>
                <div class="col-span-1 bg-gray-100 p-4 rounded-lg">

                </div>
            </div>
        </div>


    </div>


    <!-- Modal for Add School -->
    <div *ngIf="isAddSchoolVisible" class="modal">
        <div class="modal-content">
            <span class="close" (click)="handleClose()">&times;</span>
            <app-add-school (close)="handleClose()"></app-add-school>
        </div>
    </div>
</div>