<!-- schools.component.html -->
<h1 class="title">School Management</h1>
<div class="main-container">
  <div class="sidebar">
    <button class="add-school-btn">+ Add New School</button>

    <h3>School Configuration</h3>
    <ul class="menu">
      <li>
        <span class="icon">⚙️</span> <span>General Settings</span>
        <span class="count">1,058</span>
      </li>
      <li>
        <span class="icon">✈️</span> <span>Communications</span>
        <span class="count">24,532</span>
      </li>
    </ul>

    <h3>Groups</h3>
    <ul class="menu">
      <li>
        <span class="icon">✏️</span> <span>Drafts</span>
        <span class="count">09</span>
      </li>
      <li>
        <span class="icon">⚠️</span> <span>Inactive</span>
        <span class="count">14</span>
      </li>
      <li>
        <span class="icon">🗑️</span> <span>Deleted</span>
        <span class="count">9</span>
      </li>
    </ul>

    <h3>Label</h3>
    <ul class="labels">
      <li>
        <input
          type="checkbox"
          id="primary"
          name="label"
          value="primary"
        /><label for="primary"
          ><span class="color-box primary"></span>Primary</label
        >
      </li>
      <li>
        <input type="checkbox" id="social" name="label" value="social" /><label
          for="social"
          ><span class="color-box social"></span>Social</label
        >
      </li>
      <li>
        <input type="checkbox" id="work" name="label" value="work" /><label
          for="work"
          ><span class="color-box work"></span>Work</label
        >
      </li>
      <li>
        <input
          type="checkbox"
          id="friends"
          name="label"
          value="friends"
        /><label for="friends"
          ><span class="color-box friends"></span>Friends</label
        >
      </li>
    </ul>
    <button class="create-label-btn">+ Create New Label</button>
  </div>

  <div class="schools-container">
    <div class="school-grid">
      <div *ngIf="schools.length > 0">
        <div class="grid-container">
          <div
            *ngFor="let school of schools"
            class="flex items-center justify-between gap-3 bg-white w-full p-4 rounded-lg border min-h-[100px]"
          >
            <div class="flex gap-3">
              <div class="flex flex-col gap-2">
                <!-- <img
                  [src]="'assets/images/' + school.logo"
                  alt=""
                  class="w-[65px]"
                /> -->
                <img src="assets/images/school_icon.png" />
                <div class="flex items-center justify-center gap-2 w-full">
                  <div
                    class="themeColorBox"
                    [style.background-color]="school.theme_colors.primary"
                  ></div>
                  <div
                    class="themeColorBox"
                    [style.background-color]="school.theme_colors.secondary"
                  ></div>
                </div>
              </div>
              <div>
                <p class="block text-[17px]">{{ school.name }}</p>
                <p class="block text-sm opacity-50">{{ school.description }}</p>
                <div class="flex items-center gap-2 mt-2 schoolIcons">
                  <mat-icon fontIcon="chat"></mat-icon>
                  <mat-icon fontIcon="person"></mat-icon>
                  <mat-icon fontIcon="edit"></mat-icon>
                  <mat-icon fontIcon="info"></mat-icon>
                  <mat-icon fontIcon="analytics"></mat-icon>
                </div>
              </div>
            </div>
            <div class="h-[70%] flex flex-col gap-5 items-center justify-between">
              <p class="statusBox">Active</p>
              <p class="text-[11px] text-end">2024-09-09</p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="schools.length === 0">
        <p>No schools found.</p>
      </div>
    </div>
  </div>
</div>
