<div class="info_card">
  <div class="info_card_header">
    <div>
      <p class="subTitle">{{ title }}</p>
      <p class="value">{{ value }}</p>
    </div>
    <div class="card_icon_container" [ngStyle]="{'background-color': iconBg}">
      <img [src]="getIconSrc()" alt="" class="card_icon" />
    </div>
  </div>
  <div class="card_description_container">
    <p class="card_description">
      <mat-icon [fontIcon]="trendIcon" [ngStyle]="{ 'color': trendColor }"></mat-icon>
      <span style="color: #606060; font-size: 13px;">
        <span [ngStyle]="{ 'color': trendColor, 'font-weight': 500 }">{{ trendText }}</span> {{ description }}
      </span>
    </p>
  </div>
</div>
