.info_card{
    background-color: white;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    width: 100%;
    border: 1px solid transparent;

    &:hover{
        cursor: pointer;
        border-color: #e8e8e8;
    }
}

.info_card_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.subTitle{
    font-size: 10px;
    opacity: .5;
}
.value{
    font-size: 27px;
    font-weight: 500;
    margin-top: 10px;
    color: #202224;
}

.card_icon_container{
    padding: 9px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_icon{
    width: 25px;
    height: 25px;
    object-fit: contain;
    position: relative;
}

.card_description{
    display: flex;
    align-items: center;
    gap: 4px;
}