<div class="sidebar">
  <div>
    <div class="logoContainer">
      <img src="assets/images/logo.png" alt="Logo" />
    </div>
    <div class="linksContainer">
      <ul>
        <li [routerLink]="['/']">
          <div
            class="navItem"
            routerLinkActive="activeNavItem"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon fontIcon="dashboard"></mat-icon>
            <h4>Dashboard</h4>
          </div>
        </li>

        <li>
          <div class="navSubTitle">
            <h5>Customer</h5>
          </div>
        </li>

        <li [routerLink]="['/schools']">
          <div
            class="navItem"
            routerLinkActive="activeNavItem"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon fontIcon="location_city"></mat-icon>
            <h4>Schools</h4>
          </div>
        </li>

        <li [routerLink]="['/users']">
          <div
            class="navItem"
            routerLinkActive="activeNavItem"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon fontIcon="people"></mat-icon>
            <h4>Users</h4>
          </div>
        </li>

        <li [routerLink]="['/feedback']">
          <div
            class="navItem"
            routerLinkActive="activeNavItem"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon fontIcon="chat"></mat-icon>
            <h4>Feedback</h4>
          </div>
        </li>

        <li>
          <div class="navSubTitle">
            <h5>Configuration</h5>
          </div>
        </li>

        <li [routerLink]="['/data-config']">
          <div
            class="navItem"
            routerLinkActive="activeNavItem"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon fontIcon="storage"></mat-icon>
            <h4>Data Config</h4>
          </div>
        </li>

        <li [routerLink]="['/alert-config']">
          <div
            class="navItem"
            routerLinkActive="activeNavItem"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon fontIcon="warning"></mat-icon>
            <h4>Alert Config</h4>
          </div>
        </li>

        <li [routerLink]="['/settings']">
          <div
            class="navItem"
            routerLinkActive="activeNavItem"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon fontIcon="settings"></mat-icon>
            <h4>Settings</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebarFooter">
    <h4>v2.3.4</h4>
    <h5>Administrator Portal</h5>
    <h5>Last Updated At 2024-09-07 12:23</h5>
  </div>
</div>
