.main{
    display: flex;
}

.sidebarContainer{
    width: 15%;
}
.contentContainer{
    display: flex;
    flex-direction: column;
    width: 85%;
    max-height: 100vh;
    overflow-y: auto;
}
.routeComponents{
    padding: 25px;
}