.sidebar {
    transition: width 0.3s ease;
    height: 100vh;
}

.sidebar-collapsed {
    width: 60px;
    height: fit-content;

    h4,
    h5 {
        display: none;
    }
}

.navItem:hover {
    background-color: #ebebeb;
}

.activeNavItem {
    background: #4880ff;
    color: white;
    position: relative;
}

.activeNavItem:hover {
    background: #4880ff;
}

.activeNavItem::after {
    content: "";
    position: absolute;
    background-color: #4880ff;
    width: 100%;
    height: 100%;
    left: -117%;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 60px;
        height: fit-content;
    }

    .sidebar-collapsed {
        width: 0;
    }

    .navItem h4,
    h5 {
        display: none;
    }

    .sidebarFooter {
        display: none;
    }

    .activeNavItem::after {

        display: none;
    }

}