<div class="navbar">
  <!-- Brand and Search Bar Container -->
  <div class="navbar-left">
    <div class="navbar-brand">
      <mat-icon fontIcon="menu"></mat-icon>
    </div>
    
    <!-- Search Bar -->
    <div class="search-bar">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Ask me anything" (keyup.enter)="performSearch(searchInput.value)" #searchInput />
     
        <button id="search">search</button>
      
    </div>
  </div>

  <!-- Navigation Links and Profile -->
  <div class="navbar-end flex space-x-6">
    <ng-container *ngIf="!isLoggedIn">
      
      <!-- Login Link with Icon Above Text -->
      <div class="flex flex-col items-center">
        <mat-icon class="text-3xl text-gray-600">login</mat-icon>
        <a [routerLink]="['/login']" class="nav-link text-sm text-gray-700 hover:text-blue-500 mt-1">Login</a>
      </div>
      
      <!-- Sign Up Link with Icon Above Text -->
      <div class="flex flex-col items-center">
        <mat-icon class="text-3xl text-gray-600">person_add</mat-icon>
        <a [routerLink]="['/signup']" class="nav-link text-sm text-gray-700 hover:text-blue-500 mt-1">Sign Up</a>
      </div>
  
    </ng-container>
  </div>
  
    <div *ngIf="isLoggedIn" class="profileIconContainer" (click)="toggleMenu()">
      <mat-icon>account_circle</mat-icon>
      <span class="username">{{ userName }}</span>

      <div class="dropdown-menu" *ngIf="showMenu">
        <div class="menu-item" (click)="navigateToProfile()">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </div>
        <div class="menu-item" (click)="navigateToSettings()">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </div>
        <div class="menu-item logout" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </div>
      </div>
    </div>
  </div>

