/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import "tailwindcss";

body {
    background-color: #F5F6FA;
    font-family: 'Nunito Sans', sans-serif;
}

html,
body {
    height: 100%;
}