<div class="max-w-[738px] mx-auto bg-white shadow-md rounded">
    <div class="flex justify-between items-center border-b border-[#ECECEC] p-2 rounded-t">
        <h2 class="text-[24px] text-[#ADADAD] font-bold">Add New School</h2>
        <button class="text-gray-600 hover:text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#ADADAD">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>

    <form (ngSubmit)="onSave(schoolForm)" #schoolForm="ngForm">  <div class="grid grid-cols-1 md:grid-cols-4 gap-2 p-4 border-b border-[#ECECEC]">
            <div class="col-span-1 flex flex-col items-center py-4 rounded">
                <div *ngIf="previewImage" class="flex flex-col items-center">
                    <p class="text-gray-700 text-sm">Logo Preview:</p>
                    <img [src]="previewImage" alt="Logo Preview" class="w-24 h-24 rounded-md shadow-md">
                </div><br>
                <input type="file" (change)="onFileSelected($event)" accept="image/*" class="hidden" #fileInput>
                <button type="button" (click)="fileInput.click()"
                    class="bg-white border border-blue-500 text-blue-500 text-[8px] py-1 px-2 rounded-full mb-2 w-[80px] h-[20px] text-nowrap">
                    Choose Avatar
                </button>
                <button type="button" (click)="fileInput.click()"
                    class="bg-blue-500 text-white text-[8px] py-1 px-2 rounded-full mb-4 w-[80px] h-[20px]">
                    Upload Image
                </button>
                <span class="text-[15px] justify-start mb-1 font-[600] text-[#959595]">Theme Color</span>
                <div class="flex space-x-2">
                    <button type="button" (click)="changeThemeColor('#CBCBCB')"
                        class="w-[28px] h-[30px] bg-[#CBCBCB] rounded text-white font-semibold">P</button>
                    <button type="button" (click)="changeThemeColor('#FF0000')"
                        class="w-[28px] h-[30px] bg-[#FF0000] rounded text-white font-semibold">S</button>
                    <button type="button" (click)="changeThemeColor('#00FF00')"
                        class="w-[28px] h-[30px] bg-[#00FF00] rounded text-white font-semibold">T</button>
                </div>
            </div>

            <div class="col-span-1 md:col-span-3 bg-white p-4 rounded">
                <div class="mb-4">
                    <input type="text" id="name" required [(ngModel)]="school.name" name="name" #name="ngModel"
                        class="border-[#D1D1D1] border rounded w-full h-[71px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-left"
                        placeholder="School Name">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-red-500 text-xs italic">
                        <div *ngIf="name.errors?.['required']">School name is required.</div>
                    </div>
                </div>

                <div class="mb-4">
                    <input type="text" id="address" required [(ngModel)]="school.aboutschool" name="aboutschool"
                        #address="ngModel"
                        class="border-[#D1D1D1] border rounded w-full h-[132px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-left"
                        placeholder="About the School">
                    <div *ngIf="address.invalid && (address.dirty || address.touched)"
                        class="text-red-500 text-xs italic">
                        <div *ngIf="address.errors?.['required']">Address is required.</div>
                    </div>
                </div>
            </div>

            <div class="col-span-1 md:col-span-2 bg-white p-4 rounded">
                <div class="mb-4">
                    <span class="text-[15px] justify-start mb-1 font-[400] text-[#959595]">Enter your preferred
                        Username for <span class="font-bold text-[#959595]"> Admin</span></span>
                    <input type="text" id="username" required [(ngModel)]="school.username" name="username"
                        #username="ngModel"
                        class="border-[#D1D1D1] border rounded w-full h-[47px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-left"
                        placeholder="User Name">
                    <div *ngIf="username.invalid && (username.dirty || username.touched)"
                        class="text-red-500 text-xs italic">
                        <div *ngIf="username.errors?.['required']">Username is required.</div>
                    </div>
                </div>
            </div>

            <div class="col-span-1 md:col-span-2 bg-white p-4 rounded">
                <span class="text-[15px] justify-start mb-2 font-[400] text-[#959595]">Choose any username like below examples</span>
                <div class="flex flex-wrap items-center gap-4">
                    <p class="text-[17px] font-bold text-[#828282] ">admin1</p>
                    <p class="text-[17px] font-bold text-[#828282] ">admin123</p>
                    <p class="text-[17px] font-bold text-[#828282] ">admin1</p>
                    <p class="text-[17px] font-bold text-[#828282] ">admin123</p>
                </div>
            </div>

            <div class="col-span-1 md:col-span-2 bg-white p-4 rounded">
                <div class="mb-4">
                    <span class="text-[15px] justify-start mb-2 font-[400] text-[#959595]">Details</span>
                    <input type="text" id="streetaddress" required [(ngModel)]="school.streetaddress"
                        name="streetaddress" #streetaddress="ngModel"
                        class="border-[#D1D1D1] border rounded w-full h-[47px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-left"
                        placeholder="Street Address">
                    <div *ngIf="streetaddress.invalid && (streetaddress.dirty || streetaddress.touched)"
                        class="text-red-500 text-xs italic">
                        <div *ngIf="streetaddress.errors?.['required']">Street address is required.</div>
                    </div>
                </div>
                <div class="mb-4">
                    <input type="text" id="postcode" required [(ngModel)]="school.postcode" name="postcode"
                        #postcode="ngModel"
                        class="border-[#D1D1D1] border rounded w-full h-[47px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-left"
                        placeholder="Post Code">
                        <div *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)"
                        class="text-red-500 text-xs italic">
                        <div *ngIf="postcode.errors?.['required']">Post code is required.</div>
                    </div>
                </div>
                <div class="mb-4">
                    <input type="email" id="email" required [(ngModel)]="school.email" name="email" #email="ngModel"
                        class="border-[#D1D1D1] border rounded w-full h-[47px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-left"
                        placeholder="Email Address">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-red-500 text-xs italic">
                        <div *ngIf="email.errors?.['required']">Email is required.</div>
                    </div>
                </div>
            </div>

            <div class="col-span-1 md:col-span-2 bg-white p-4 rounded mt-6">
                <div class="mb-4">
                    <input type="text" id="city" required [(ngModel)]="school.city" name="city" #city="ngModel"
                        class="border-[#D1D1D1] border rounded w-full h-[47px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-left"
                        placeholder="Town/City">
                    <div *ngIf="city.invalid && (city.dirty || city.touched)" class="text-red-500 text-xs italic">
                        <div *ngIf="city.errors?.['required']">City is required.</div>
                    </div>
                </div>
                <div class="mb-4">
                    <input type="text" id="phone" required [(ngModel)]="school.phone" name="phone" #phone="ngModel"
                        class="border-[#D1D1D1] border rounded w-full h-[47px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-left"
                        placeholder="Contact Number">
                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-red-500 text-xs italic">
                        <div *ngIf="phone.errors?.['required']">Phone is required.</div>
                    </div>
                </div>
                <div class="mb-4">
                    <input type="text" id="country" required [(ngModel)]="school.country" name="country"
                        #country="ngModel"
                        class="border-[#D1D1D1] border rounded w-full h-[47px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-left"
                        placeholder="Country">
                    <div *ngIf="country.invalid && (country.dirty || country.touched)"
                        class="text-red-500 text-xs italic">
                        <div *ngIf="country.errors?.['required']">Country is required.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap justify-end items-center gap-3 p-4">
            <button type="button" (click)="onSave(schoolForm)"
                class="bg-[#979797] font-[900] text-white text-[15px] py-2 px-4 lg:w-[112px] rounded-lg">
                Save
            </button>
            <button type="button" (click)="onReset()"
                class="bg-[#FFB800] font-[900] text-white text-[15px] py-2 px-4 lg:w-[158px] rounded-lg text-nowrap">
                Reset
            </button>
        </div>
    </form>
</div>